*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}
.전체{
    display: flex;
    flex-direction: row;
}
.여백{
    width: 376px;
}
.중앙내용{
    display:flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    width: 1168px;
}
.헤더{
    margin-top: 10px;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    letter-spacing: -0.18px;
    height: 60px;
}

#제목{
 
    height: 36px;
    margin-top: 64px;
    border-bottom: #000 solid ;
    margin-bottom: 16px;
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 109.091% */
    letter-spacing: -0.22px;
}

.기분영역{
    display:flex;
    flex-direction: row;
    justify-content: center;

}
#기분이모지{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    width: 32px;
    height: 32px;
}
#기분{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #EA5757;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.2px;
}
.기분과날짜영역{
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;

}
#날짜{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--Gray-Gray-500, #919191);
    font-family: "Pretendard Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}
#내용{
    margin-top: 13px;
    margin-bottom: 12px;
    color: var(--Gray-Gray-800, #333);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
}
.복사영역{
    display: flex;
    /* width: 110px; */
    flex-direction: row;
    /* justify-content: flex-end; */
}
.빈영역{
    width : 1077px;
}
.내용복사{
    display: flex;
    width: 110px;
    flex-direction: row;
    
    background: transparent;
    border: transparent;
    
    gap: 8px;
    margin-bottom: 24px;
    cursor: pointer;
}
#복사아이콘{
    width: 24px;
    height: 24px;
    /* cursor: pointer; */
}
.복사텍스트{
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    /* cursor: pointer; */
}
.수정삭제버튼{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
    border-bottom: #000 solid;
    padding-bottom: 16px;
    margin-bottom: 24px;
}
#수정버튼{
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
    width: 51px;
    height: 40px;
    cursor: pointer;
}
#삭제버튼{
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    color: var(--Gray-Gray-900, #1C1C1C);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
    width: 51px;
    height: 40px;
    cursor: pointer;
}
.회고{
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
    margin-bottom: 13px;
}
.회고입력영역{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    margin-bottom: 16px;
}
#회고입력인풋{
    width: 1101px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}
#회고입력인풋::placeholder{
    color: var(--Gray-Gray-400, #ABABAB);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    padding: 12px 16px;
}
#회고입력버튼{
    width: 51px;
    height: 48px;
    border-radius: 8px;
    background: var(--Gray-B, #000);
    color: var(--Gray-W, #FFF);
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
}

.회고노출영역{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.회고내용날짜행{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
}
#회고내용{
    color: #000;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
#회고등록날짜{
    color: var(--Gray-Gray-600, #777);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;

}
#복사토스트{
    display: none;
    width: 760px;
    height: 56px;
    padding: 16px;
    /* position:absolute; */
    /* bottom: calc(80% - 760px/2);
    left: calc(50% - 56px/2); */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.90);
    color: #FFF;
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
    animation-name: 철수의애니메이션;
    animation-duration: 2s;
}

@keyframes 철수의애니메이션 {
    from {
        opacity : 0;
    }
    to{
        opacity: 1;
    }
    
}
.토스트영역{
    display: flex;
    flex-direction: row;
    position:absolute;
    bottom: 5%;
}
.토스트날개{
    width: 204px;
}