.네비게이션 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;

  /* padding-left: 320px;
  padding-right: 320px;
  padding-top: 24px;
  padding-bottom: 20px; */
  /* left: 10%; */
}
.페이지선택 {
  display: flex;
  align-items: center;
  width: 364px;
  height: 40px;
  gap: 24px;
}
.프로필 {
  display: none;
  align-items: center;
}
.login {
  display: none;
}

/* .profile {
  display: block;
} */
.show {
  display: flex;
}
