.listAll {
  /* width: 1280px; */
  height: 656px;
  display: flex;
  /* min-width: 680px; */
  padding: 24px 48px;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 12px;
  align-self: stretch;
  /* border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08); */
  /* box-sizing: border-box; */
}
.board {
  display: flex;
  align-items: center;
  position: relative;
  width: 1136px;
  height: 44px;
  gap: 8px;
  padding-left: 24px;
  padding-right: 64px; /* delete 아이콘 공간 확보 */
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.board:hover {
  background-color: #f9f9f9;
}
.delete_icon {
  display: none;
  position: absolute;
  right: 24px; /* 오른쪽 끝으로 정렬 */
  cursor: pointer;
}
.board:hover .delete_icon {
  display: inline;
}
.listHeader {
  width: 1136px; /* board와 동일한 너비 */
  height: 52px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-left: 24px;
  padding-right: 64px; /* board와 동일한 패딩 */
  /* padding-top: 16px; */
  padding-bottom: 16px;
  color: #1c1c1c;

  /* me_16_20 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}
.listNumber {
  width: 64px;
  height: 20px;
}
.listTitle {
  width: 848px;
  height: 20px;
}
.listWriter {
  width: 100px;
  height: 20px;
}
.listDate {
  width: 100px;
  height: 20px;
}
