.전체영역 > * {
  margin: 24px 0; /* 수직 마진만 주고 싶으면 이렇게 */
}
.제목노출 {
  width: 1280px;
  height: 72px;
  color: #000;

  /* b_28_36 */
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}
.작성자노출,
.작성날짜노출 {
  color: var(--gray-700, #5f5f5f);

  /* l_14_20 */
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
}

.내용노출 {
  color: #000;

  /* r_16_24 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.작성자_날짜 {
  width: 1280px;
  height: 72px;
  border-bottom: solid 1px var(--gray-100, #e4e4e4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.싫어요_좋아요 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26.5px;
}
.목록_수정_버튼 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  border-bottom: solid 1px var(--gray-100, #e4e4e4);
}
